<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

    <style>
        body {
            height: 100%;
            width: 100%;
            background: url("https://s2.ax1x.com/2019/09/01/npPsyt.jpg");
            background-size: cover;
        }

        .wrapper-define {
            margin-top: 200px;
        }
    </style>

    <title>Milkz Blog</title>
</head>
<body>

<div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">首页</a></li>
        <li><a href="/about">关于</a></li>
        <li><a href="/category">分类</a></li>
        <li><a href="/archives">历史</a></li>
    </ul>
</div>

<div class="container-fluid">
    <div class="wrapper-define">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                    <input type="text" class="form-control" placeholder="搜索文章">
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-default"> 搜 索</button>
            </div>
        </div>
    </div>
</div>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>