<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
    <style>
        body {
            padding-top: 52px;
            background-color: #F2F2F2;
        }

        #panel-list {
            width: 1000px;
            margin-top: 90px;
            padding-left: 100px;
            padding-right: 100px;
        }

    </style>

    <title>MyBlog 内容分类</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav">
        <li><a href="#" class="navbar-brand">www.<strong>milkz</strong>.com</a></li>
        <li><a href="/">首页</a></li>
        <li><a href="/about">关于</a></li>
        <li class="active"><a href="/category">分类</a></li>
    </ul>
</nav>

<div id="panel-list" class="center-block">
    <div class="panel panel-default" th:each="bean:${beans}">
        <div class="panel-heading" th:text="${bean.getCategory()}">title</div>
        <div class="panel-body">
            <ul th:each="beanChild:${bean.getContentList()}">
                <li><a th:text="${beanChild.getTitle()}" href="#"></a></li>
            </ul>
        </div>
    </div>
</div>

<script th:inline="javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>